= simple_form_for(@person) do |f|
  = f.error_notification

  .form-inputs
    = f.input :last_name
    = f.input :first_name
    = f.input :middle_name
    = f.input :maiden
    = f.input :prefix
    = f.input :suffix
    = f.input :gender
    = f.input :birth_date
    = f.input :death_date
    = f.input :death_hebrew_date_day
    = f.input :death_hebrew_date_month
    = f.input :death_hebrew_date_year
    = f.input :death_after_sunset

  .form-actions
    = f.button :wrapped, :cancel => people_path
