- title "People"

#sort_control
  = form_tag default_url_options, :method => :get do
    Sort by:
    = select_tag :sort, options_for_select([['Yahrzeit', 'death_hebrew_date_month,death_hebrew_date_day'], ['Name', 'last_name,first_name']], params[:sort] )
  
%table#people.table.table-striped.table-condensed
  %thead
    %tr
      %th Yahrzeit
      %th Name
      %th Death
      %th Next Yahrzeit Anniversary
      %th Actions
  %tbody
    - people.each do |person|
      %tr
        %td= person.death_hebrew_date.to_s(:month_day) if person.death_hebrew_date
        %td= link_to person.last_first_name, person
        %td= rdate person.death_date
        %td= rdate person.next_yahrzeit_date
        %td
          = link_to edit_person_path(person), class: 'btn btn-mini btn-primary' do
            %i.icon-pencil.icon-white
            Edit
          = link_to person, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-mini' do
            %i.icon-trash
            Delete
            

= link_to new_person_path, class: 'btn btn-primary' do
  %i.icon-plus.icon-white
  New Person
