- title "People"

%table#people.table.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th Gender
      %th Birth
      %th Death
      %th Hebrew
      %th Next Yahrzeit
      %th Actions
  %tbody
    - people.each do |person|
      %tr
        %td= link_to person.last_first_name, person
        %td= person.gender
        %td= rdate person.birth_date
        %td= rdate person.death_date
        %td= person.death_hebrew_date.to_s(:day_month) if person.death_hebrew_date
        %td= rdate person.next_yahrzeit_date
        %td
          = link_to edit_person_path(person), class: 'btn btn-mini btn-primary' do
            %i.icon-pencil.icon-white
            Edit
          = link_to person, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-mini' do
            %i.icon-trash
            Delete
            

= link_to new_person_path, class: 'btn btn-primary' do
  %i.icon-plus.icon-white
  New Person
