%h1 Listing people

%table
  %tr
    %th Last name
    %th First name
    %th Middle name
    %th Maden
    %th Prefix
    %th Suffix
    %th Gender
    %th Birth date
    %th Death date
    %th Death hebrew date day
    %th Death hebrew date month
    %th Death hebrew date year
    %th Death after sunset
    %th
    %th
    %th

  - @people.each do |person|
    %tr
      %td= person.last_name
      %td= person.first_name
      %td= person.middle_name
      %td= person.maden
      %td= person.prefix
      %td= person.suffix
      %td= person.gender
      %td= person.birth_date
      %td= person.death_date
      %td= person.death_hebrew_date_day
      %td= person.death_hebrew_date_month
      %td= person.death_hebrew_date_year
      %td= person.death_after_sunset
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Person', new_person_path
